
html,
body {
    height: 100%;
    overflow:  hidden;
}

body{
    /*background-position: 0;*/
    background-color: #000;
    background-repeat: no-repeat;
    background-image: url('./assets/images/interface.png');
    background-size: cover;
    margin: auto 0;
    color: #fff;
    transition: background-position 1.5s ease-in-out;
    font-family: Klavika-light;
}

.logo {
    position: absolute;
    width: 100px;
    bottom: 20px;
    right: 30px;
}

.wrapper {
    position: relative;
    min-height: 100%;
    display: block;
    opacity: 0;
    color: #fff;
    animation: showWrapper 0.5s linear;
    animation-delay: 3s;
    animation-fill-mode: forwards;
}

.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 200px;
    font-weight: bold;
    font-size: 10px;
}

#monk{
    /*position: absolute;*/
    margin: 70px;
    height: 0;
    animation: arize 3s ease-in;
    animation-fill-mode: backwards;
}

.monk {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    animation: jump 3s ease-in-out;
    animation-delay: 0s;
    animation-fill-mode: backwards;
}

.leftText {
    margin: 0;
    text-transform: uppercase;
    font-family: sans-serif;
    text-decoration: underline;
    font-size: 52px;
    padding: 0 42px;
}

.leftText p{
    display: inline-block;
    text-decoration: underline;
    opacity: 0;
}

.pageText div{
    display: inline-block;
    text-decoration: underline;
    text-transform: uppercase;
    /*opacity: 0;*/
}

.pageText {
    min-height: 200px;
}
#nav{
    margin-top: 50px;
}

.message {
    margin-top: 48px;
    opacity: 0;
    animation: messagePadawan 2s ease-in;
    animation-delay: 1s;
    animation-fill-mode: backwards;
}

.footer div{
    display: inline-block;
}

.footer p{
    padding-left: 42px;
    margin-top: 0.2em;
    margin-bottom: 0.3em;
    font-size: 14px;
    font-weight: normal;
    opacity: 0;
}

.arrow{
    margin: 0;
    position: absolute;
    width: 100%;
    min-height: 100px;
    top: 40%;
    cursor: pointer;
}

button:hover{
    animation: slide15 2s linear;
}

#arrowRight{
    margin-right: 40px;
    float: right;
    width: 35px;
    height: 35px;
    border-top: 2px solid #fff;
    border-left: 2px solid #fff;
    transform: rotate(135deg);
}

#arrowLeft {
    margin-left: 40px;
    float: left;
    width: 35px;
    height: 35px;
    border-top: 2px solid #fff;
    border-left: 2px solid #fff;
    transform: rotate(-45deg);
}

.footerText{
    font-weight: normal;
}

ul #pagination {
    display: inline-block;
}

li{
    display: inline;
    border: 0.1rem dashed;
    padding: 5px;
}

.active {
    height: 12px;
    width: 12px;
    background-color: #fff;
}

button {
    cursor: pointer;
    position: relative;
    width: 80px;
    height: 50px;
    margin: 20px;
    color: #fff;
}

.arrow div{
    /*display: inline-block;*/
}

.arrow p{
    display: inline-block;
    text-transform: uppercase;
    max-width: 30%;
}

.arrowRight p{
    text-align: right;
}

#leftTooltip{
    text-decoration: underline;
    float: left;
    transition: opacity 1s linear;
}
#rightTooltip {
    text-decoration: underline;
    float: right;
    transition: opacity 1s linear;
}

.hide {
    animation: hideWrapper 2s linear;
    animation-fill-mode: forwards;
}

.show {
    animation: showWrapper 2s linear;
    animation-fill-mode: forwards;
}

@keyframes messagePadawan {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 100;
    }
    100% {
        opacity: 100;
    }
}

@keyframes showWrapper {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100;
    }
}

@keyframes hideWrapper {
    0% {
        opacity: 100;
    }
    100% {
        opacity: 0;
    }
}

@keyframes switch {
    0% {
        background-image: url('./assets/images/interface.png');
        background-position: 42% 0%;
    }
    100% {
        background-image: url('./assets/images/background.jpg');
        background-position: 0% 0%;
    }
}

@keyframes jump {
    0% {
        top: 50%;
    }
    15%{
        top: 45%;
    }
    30% {
        top: 50%;
    }
    45% {
        top: 40%;
    }
    60% {
        top: 50%;
    }
    80% {
        top: 45%
    }
    100% {
        top: 50%;
    }
}

@keyframes arize {
    0% {
        /*top: 300px;*/
        height: 0px;
    }

    50% {
        /*top: 350px;*/
        height: 149px;
    }
    100% {
        /*top: 350px;*/
        height: 149px;
    }
}

@font-face {
    font-family: Klavika-regular;
    src: url("./assets/font/klavika-regular-webfont.woff") format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: Klavika-light;
    src: url('./assets/font/klavika-light-webfont.woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Klavika-medium;
    src: url("./assets/font/klavika-medium-webfont.woff") format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: Klavika-bold;
    src: url("./assets/font/klavika-bold-webfont.woff") format("truetype");
    font-weight: bold;
}

