
html,
body {
    height: 100%;
    overflow:  hidden;
}

body{
    /*background-position: 0;*/
    background-color: #000;
    background-repeat: no-repeat;
    background-image: url('./assets/images/interface.png');
    background-size: cover;
    margin: auto 0;
    color: #fff;
    transition: background-position 1.5s ease-in-out;
    font-family: Klavika-light;
}

.logo {
    position: absolute;
    width: 100px;
    bottom: 20px;
    right: 30px;
    fill: green;
}

svg{
    fill: red;
}
.wrapper {
    position: relative;
    min-height: 100%;
    display: block;
    opacity: 0;
    color: #fff;
    animation: showWrapper 0.5s linear 3s forwards;
    -webkit-animation: showWrapper 0.5s linear 3s forwards;
}

.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 200px;
    font-weight: bold;
    font-size: 10px;
}

#monk{
    /*position: absolute;*/
    margin: 70px;
    height: 0;
    animation: arize 3s ease-in 0s backwards;
    -webkit-animation: arize 3s ease-in 0s backwards;
}

.monk {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    animation: jump 3s ease-in-out 0s backwards;
    -webkit-animation: jump 3s ease-in-out 0s backwards;
}

.pageText {
    margin: 0;
    text-transform: uppercase;
    text-decoration: underline;
    font-size: 28px;
    padding: 0 42px;
    min-height: 200px;
}

.leftText p{
    display: inline-block;
    text-decoration: underline;
    opacity: 0;
}

.pageText div{
    display: inline-block;
    text-decoration: underline;
    text-transform: uppercase;
}

#nav{
    margin-top: 50px;
}

.message {
    margin-top: 48px;
    opacity: 0;
    animation: messagePadawan 2s ease-in 1s backwards;
    -webkit-animation: messagePadawan 2s ease-in 1s backwards;
}

.footer div{
    display: inline-block;
}

.footer p{
    padding-left: 42px;
    margin-top: 0.2em;
    margin-bottom: 0.3em;
    font-size: 14px;
    font-weight: normal;
    opacity: 0;
}

.arrow{
    margin: 0;
    position: absolute;
    width: 100%;
    min-height: 100px;
    top: 40%;
    font-size: 26px;
    text-decoration: underline;
    cursor: pointer;
}

#arrowRight{
    margin: 0 30px;
    float: right;
    width: 35px;
    height: 35px;
    border-top: 2px solid #fff;
    border-left: 2px solid #fff;
    transform: rotate(135deg);
}

#arrowLeft {
    margin: 0 30px;
    float: left;
    width: 35px;
    height: 35px;
    border-top: 2px solid #fff;
    border-left: 2px solid #fff;
    transform: rotate(-45deg);
}

.leftMessage {
    max-width: 20%;
}

.rightMessage {
    float: right;
    text-align: right;
    max-width: 20%;
}
.footerText{
    font-weight: normal;
}

ul #pagination {
    display: inline-block;
}

li {
    display: inline;
}

.footer li{
    border: 0.1rem dashed;
    padding: 5px;
}

li a,
li a:active,
li a:visited {
    color: #fff;
    text-decoration: none;
}

li div{
    padding: 0 6px;
}

li div:hover{
    cursor: pointer;
}
.active {
    height: 13px;
    background-color: #fff;
}

button {
    cursor: pointer;
    position: relative;
    width: 80px;
    height: 50px;
    margin: 20px;
    color: #fff;
}

.arrow > div{
    display: inline-block;
}

.arrow h1{
    top: 30%;
    text-transform: uppercase;
}

.lastPage{
    text-align: right;
    right: 10%;
    display: none;
    position: absolute;
    line-height: 4px;
    font-size: 14px;
}

.contacts {
    font-size: 12px;
    transform: rotate(-135deg);
}

.arrowRight p{
    text-align: right;
}

#leftTooltip{
    text-decoration: underline;
    float: left;
    transition: opacity 1s linear;
    margin: 30px;
}
#rightTooltip {
    text-decoration: underline;
    float: right;
    transition: opacity 1s linear;
    opacity: 0;
    margin: 30px;
}

.hide {
    animation: hideWrapper 2s linear 0s forwards;
    -webkit-animation: hideWrapper 2s linear 0s forwards;
}

.show {
    animation: showWrapper 2s linear 0s forwards;
    -webkit-animation: showWrapper 2s linear 0s forwards;
}

.email {
    width: 1.5%;
    height: 1.5%;
    margin: 0 8px;
}

.twitter {
    width: 1.2%;
    height: 1.2%;
    margin: 0 2px;
}

.facebook {
    width: 1%;
    height: 1%;
    margin: 0 6px;
}

.lastPage a,
.lastPage a:active,
.lastPage a:visited {
    color: #fff;
}

@keyframes messagePadawan {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 100;
    }
    100% {
        opacity: 100;
    }
}

@-webkit-keyframes  messagePadawan {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 100;
    }
    100% {
        opacity: 100;
    }
}

@keyframes showWrapper {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100;
    }
}

@-webkit-keyframes  showWrapper {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100;
    }
}

@keyframes hideWrapper {
    0% {
        opacity: 100;
    }
    100% {
        opacity: 0;
    }
}

@-webkit-keyframes  hideWrapper {
    0% {
        opacity: 100;
    }
    100% {
        opacity: 0;
    }
}

@keyframes jump {
    0% {
        top: 50%;
    }
    15%{
        top: 45%;
    }
    30% {
        top: 50%;
    }
    45% {
        top: 40%;
    }
    60% {
        top: 50%;
    }
    80% {
        top: 45%
    }
    100% {
        top: 50%;
    }
}

@-webkit-keyframes  jump {
    0% {
        top: 50%;
    }
    15%{
        top: 45%;
    }
    30% {
        top: 50%;
    }
    45% {
        top: 40%;
    }
    60% {
        top: 50%;
    }
    80% {
        top: 45%
    }
    100% {
        top: 50%;
    }
}

@keyframes arize {
    0% {
        /*top: 300px;*/
        height: 0px;
    }

    50% {
        /*top: 350px;*/
        height: 149px;
    }
    100% {
        /*top: 350px;*/
        height: 149px;
    }
}

@-webkit-keyframes  arize {
    0% {
        /*top: 300px;*/
        height: 0px;
    }

    50% {
        /*top: 350px;*/
        height: 149px;
    }
    100% {
        /*top: 350px;*/
        height: 149px;
    }
}

@font-face {
    font-family: Klavika-regular;
    src: url("./assets/font/klavika-regular-webfont.woff") format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: Klavika-light;
    src: url('./assets/font/klavika-light-webfont.woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Klavika-medium;
    src: url("./assets/font/klavika-medium-webfont.woff") format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: Klavika-bold;
    src: url("./assets/font/klavika-bold-webfont.woff") format("truetype");
    font-weight: bold;
}

